<% include ../partials/_header %>
  <!-- Body in header partial -->
    <main role="main">
      <div class="container">
        <h2>Dashboard</h2>
          <ul class="list-group">
            <% for(let url in urls){ %>
              <li class="list-group-item">
                <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a> - <a href="/u/<%= url %>"><%= url %></a>
                <a href="/urls/<%= url %>" class="btn btn-primary" style="margin-left:25px;">Edit</a>
                <form style="display:inline" method="POST" action=<%=`/urls/${url}/delete?_method=DELETE`%>>
                  <button type="submit" name="Submit" class="btn btn-warning">Delete</button>
                </form>
              </li>
            <% } %>
          </ul>
        <a href="/urls/new" class="btn btn-success" style="margin-top:10px">Create new Tiny URL</a>
      </div>
    </main>
  </body>
</html>